services:
  server:
    build: ./server
    ports:
      - "3000:3000"
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    volumes:
      - mongo_data:/data/db

  client:
    build: ./client
    ports:
      - "3001:3000"
    depends_on:
      - server

volumes:
  mongo_data:
